* {
    border: 1px red solid;
}

body {
    margin:0;
}

/*
Padding nos sirve para dar un espaciado interior a los elementos y dejarlos "respirar"
*/

h1 {
    background-color: lightsteelblue;
    /* top right bottom left 
    puedo dar valor a cada lado por separado
    */
    padding: 10px 20px 12px 15px;
    margin: 10px;
    border-bottom: 4px red dotted;

    display:block;
}

h2 {
    background-color: bisque;
    /* 
    El primer valor corresponde a top y bottom
    El segundo valor corresponde a right y left
    */
    padding: 20px 10px;
    display:inline-block;
    margin-top:40px;
}

p {
    background-color: darkcyan;
    padding: 15px; /* Padding en todas direcciones */
}